
body,html{
  min-height: 100%
}

.customsdfasd > a{
  color:#949494;
}

.swal2-input.form-control{
  border:1px solid #d2d2d2!important;
  border-radius:0 !important;
  background:#e9ecef !important
}

.swal2-popup .swal2-radio, .swal2-popup .swal2-checkbox{
  justify-content: left !important;
}
.custom > a{
  color:#949494;
}
a:hover{text-decoration: none;}
ul,li{
  margin:0;
  padding:0; 
  list-style:none;
}
.center-h {
    position: absolute;
    width: 95%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    max-width: 1170px;
}
.card-header h4{
  margin-bottom: 0
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    background:transparent;
}
.login-screen .left-login:after {
    content: "";
    width: 2px;
    background: #ececec;
    position: absolute;
    top: 0;
    right: 5px;
    bottom: 0;
    top: 0;
}
.login-screen .left-login,
.login-screen .right-login{
  display: table-cell;
  width: 50%;
  vertical-align:middle;
   padding: 9% 50px;
   position: relative;
}
.login-screen .left-login img{
margin-bottom: 30px;
}
.login-screen .right-login h3{
  margin-bottom: 60px;
}
.login-screen .right-login h3 span{
  font-size: 14px;
  display: block;
  padding: 10px 0 0
}
.middle-content{
  padding: 30px 50px 0
}
/************** dashboard navigation *************/
.page.active {
    width:100%;
}
.side-navbar {
    position: fixed;
    top: 0;
    left: 0;
   padding:15px 0;
    height: 100%;
    width:300px;
    text-align: left;
    background: #334655;
    z-index: 999;
    overflow-y: auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.page {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    width: calc(100% - 300px);
    background-color: #F4F7FA;
    /*min-height: 100vh;*/
    padding-bottom: 50px;
}
.side-navbar.shrink {
    width: 0px;
}
.center-nav li{
  margin-right: 20px;
  text-align:center;
}
.center-nav li i{
  font-size:20px; 
  color: #A0CE4E;
}
.user-info{
  color:#fff;
  background:#1f2a34;
  padding:15px 0 10px;
}
.user-info i {
    border: 2px solid #fff;
    padding: 12px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
}
.user-info p{
  font-size:12px;
}

.swal2-actions .btn{
  margin:0 10px;
}
.guide-btn {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    text-align: center;
    right: 0;
    left: 0;
    display: table;
}
.guide{
  position: fixed;
  bottom: 10px;
  right:15px;

}

span.error {
  display: block;
  color: red;
  font-size: 12px;
  width: 100%;
  margin-top: 2px;
}
.tooltip-inner { width:400px;max-width: 300px }
span#price:after {
    content: " USD";
}
p#bonus_now:after {
    content: "%";
}
span#total_amount:after,
span#bonus_amount:after,
span.nu_coin:after {
    content: " KWATTS";
}
span#total_amount:after,
span#bonus_amount:after,
p#bonus_now:after ,
span#price:after ,
span.nu_coin:after {
  font-weight: 400;
  color:#a6a6a6;
}
.custom-icon span {
     position: absolute;
    margin-left: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 4;
}
.custom-icon input{
  padding-left: 36px;
}
/************** dashboard navigation *************/

/******* subnavigation ************/

.btn:hover small, .btn:focus small{
  color: #fff !important
}



/****** dashboard ***********/

.sidebar-nav li i.support{
      background: url(../images/supports.png) no-repeat center;
    width: 21px;
    height: 17px;
    display: inline-block;
    vertical-align: middle;
}
.sidebar-nav li.active  i.support,
.sidebar-nav li:hover i.support{
/*  background-image: url(../images/supports_hover.png);*/
}
.sidebar-nav li i{
  margin-right: 10px;
  width: 21px
}
.sidebar-nav li a{
  color: #cccccc;
  padding:15px 20px ;
  display: block;
}

 
.sidebar-nav li.green.kwatt-menu a i,
.sidebar-nav li.kwatt-menu.active a i, .sidebar-nav li.kwatt-menu a:hover i{
  background-image: url(../images/menu_icon.png);
  color:#7dc242;
}
.sidebar-nav li.promotional-link.active a,
.sidebar-nav li.promotional-link:hover a,
.sidebar-nav li.promotional-link a,
.sidebar-nav li.green.kwatt-menu a
{
  color:#7dc242;
  text-decoration: none
}
.sidebar-nav li:hover,
.sidebar-nav li.active{
  background: #1f2a345e
}
.sidebar-nav li:hover a,
.sidebar-nav li.active a{
  color:#fff;
}

.enable-auth{
  background:#182631;
  padding:20px 0;
  margin: 20px 0
}
.navbar-brand.hamburger-menu{
  font-size:25px;
}
.inner-bg{
  background:#fff;
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  border-radius: 0.25rem;
  width:100%;
  padding:30px 15px; 
}
.blue {
    color: #004991;
}
.balance-main .inner-bg i{
 font-size: 45px;
 color:#A0CE4E;

}
.balance-main .inner-bg h4:first-child{
  color: #888888;
  font-weight: 300;

}
.balance-main .inner-bg h4{

text-transform: uppercase;
}
.balance-main .inner-bg p{
  margin-bottom: 0
}
.balance-main > div:nth-child(odd) .inner-bg{
  border-bottom: 3px solid #004991
}
.balance-main > div:nth-child(even) .inner-bg{
 border-bottom: 3px solid #a0ce4e
}
.divider-sept li a {
    border-right: 1px solid #505050;
    padding-top: 0;
    padding-bottom: 0;
    color:#1e1e1e;
    font-weight: 600
}
.divider-sept li:last-child a{
  border:none;
}
select,
[type="search"]{
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 7px 5px

}
.dataTables_wrapper .dataTables_filter input{
  width: 300px;
}
.congs-custom a{
 border:none;
 padding:5px;
color:#0056b3;
}
.congs-custom a .fas.fa-cog:after{
  content:"\f0d7";
   font-family: 'Font Awesome 5 Pro';
   margin-left: 5px

}
.congs-custom a:hover{
  text-decoration: none;
  color:#7dc242;
}
.btn.btn-xs, .btn-group-xs > .btn{
  padding:0.2rem 0.7rem;
  font-size:12px;
}

.submenu .dropdown-toggle::after{
  border: none;
  content:'\f067';
  font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    float: right;
    margin-right: 10px;
}
.dropdown-toggle[aria-expanded="true"]:after {
 
   content:'';
}
/*for the animation*/
.dropdown-toggle:after {
  transition: 0.5s;
}
.submenu .submenu-inner{
  background:#182631
}
.custom .dropdown-menu {
    width: 270px;
    right:0;
    left: auto
}

.custom  i.green {
    background: #7dc242;
    padding: 10px;
    border-radius: 50%;
    color: #fff;
}

.custom-inline-form{
 background: #004991;
    border: 1px solid #e8f4dd;
    padding: 20px 20px 10px;
    color: #fff;
    font-size: 16px;
}
 
.custom-inline-form label i{
  font-size:17px
}
.custom-inline-form hr{
  border-color:#fff;
}
.custom-inline-form label {
       padding-left: 13px;
    font-weight: 700;
    padding: 0;
   
}
.custom-refer-form{
 background: #F4F7FA;
    /*border: 1px solid #e8f4dd;*/
    padding: 40px 0px;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}
.custom-refer-form label {
    padding-left: 13px;
    font-weight: 700;
    padding:0;
    display: block;
    margin-bottom: 20px
   
}

.btn-icons-white{
  float: right;
}
.btn-icons-white *{
  vertical-align: top
}
.btn-icons-white i{
  color:#fff;
  font-size: 16px;
  font-weight: 100;
}
.timmer h4{
  font-size:16px;
  text-transform: uppercase;;
  color:#5aa01d;
  font-weight: 700
}
#expired_time span{
  font-size:10px;
  font-weight: 400;
  text-transform: uppercase;
  display: block;
  margin-top: 5px;
  font-family: "arial"
}
#expired_time .timer-inner{
  font-size:36px;
  color:#505050;
  display: inline-block;
  padding:0 10px;
  text-align:center;
  font-weight: 700;
  line-height: 18px;
}
.input-group .input-group-btn button.btn-sm{
  padding:0.6rem 1rem;


}
/****** dashboard ***********/
/******* common ********/
.no-padding{
  padding: 0 !important
}
.form-control{
/*  padding-left: 0;
  border-right:none;
  border-left:none;
  border-top:none;*/
  
}
/******* social icons *********/
.social-ics .fa-facebook-f {
  background: #3B5998;
  color: white;
}
.social-ics .fa-twitter {
  background: #55ACEE;
  color: white;
}

.social-ics .fa-linkedin-in {
  background: #007bb5;
  color: white;
}
.social-ics .fa-telegram-plane{
 background: #0077b7;
  color: white; 
}
.social-ics .fa-medium-m{
 background: #00e56b;
  color: white; 
}
.social-ics{
  text-align: center;
  margin:20px 0; 
}
.social-ics a{
  display: inline-block;
  margin: 0 5px;
  width: 36px;
  height: 36px;
  padding:10px;
  border-radius: 50%;
  text-align:center;
}
.social-ics.shar-icons a{
  background: none;
  border:1px solid #ccc;

}
.social-ics.shar-icons .fa-facebook-f {
  
  color: #3B5998;
}
.social-ics.shar-icons .fa-twitter {
  color: #55ACEE;
}

.social-ics.shar-icons .fa-linkedin-in {
  color: #007bb5;
}
.social-ics.shar-icons .fa-telegram-plane{
   color: #0077b7; 
}
.social-ics.shar-icons .fa-medium-m{
  color: #00e56b; 
}
.ref-code-container{
  width: 100%;
  max-width: 500px;
  margin:auto;
  text-align:center;
}
.input-group.short-input .input-group-text{
  min-width: inherit;
}

/******* social icons *********/


/******* common ********/

.reff-text {
  font-size: 26px
}
.reff-text span{
  
  color:#7dc242;
}
ul.small-text-info {
    padding-left: 20px;
}

.small-text-info li {
    padding-bottom: 4px;
    list-style: outside;
}
.small-text-info{
    padding: 5px;
    display: block;
    font-size: 12px;
    background: #fdfdfd;
    border: 1px solid #cccccc4d;
    font-family: arial;
    line-height: 16px;
}
.small-text-info.md-text-info{
  font-size:16px;
}
.small-text-info.md-text-info li{
      margin-bottom: 3px;
}
.position-input{
  position: absolute;
  top:35px;
  right:0;
  left:0;


}
.mymodel .swal2-content #swal2-content label:first-child{
  text-align: left;
      font-size: 17px;
}
.mymodel .swal2-content{
  position: relative;
}
.remitt-payment{
  background: #fff;
    padding:10px 20px 30px;
    border: 1px solid #f1f0f0d1
}
.kwatt-menu i{
	background-image: url(../images/menu_icon1.png);
	background-repeat: no-repeat;
	background-position: center;
    width: 19px;
    height: 19px;
    display: inline-block;
    vertical-align: bottom;
}


.telegram {
   position: fixed;
    bottom: 91px;
    max-width: 63px;
    z-index: 99;
    margin: auto;
    height: 66px;
    right: 27px;
}

 
.telegram img {
    border-radius: 50%;
    border: 2px solid #fff;
}
img {
    border-style: none;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.eth-input-container{
	background: #f4f7fa;
	border: 1px solid #d2d2d2;
}
.eth-input-container:focus{
    background-color: #fff;
    border-bottom-color: #013a71;
}
.eth-input-container input {
	border-color:transparent;
}
.eth-input-container .usd-ammount {
    padding: 5px 10px;

} 
.affiliate-userlisting li {
    display: inline-block;

    /*min-width: 290px;*/
    margin-bottom: 1px;
    text-align:left;
    background: #f1f1f1f1;
    padding: 5px 5px;
    border-right: 1px solid #fff;
    float: left;
    width: 20%;

    
}
.affiliate-userlisting li:nth-child(2n){ background: #f7f7f7; }

.affiliate-userlisting li span{
  color:#7dc242;
  font-size:13px;
}
 
.affiliate-userlisting li p{
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: bold;

}
.affiliate-userlisting li p i{ display: none; }
.home-social {
    text-align: center;
    width: 100%;
    display: inline-block;
    padding-top: 45px;
}
a.join-fb-group {
    background: #3B5997;
    color: #fff;
    font-size: 18px;
    padding: 7px 15px;
    margin-bottom: 30px;
    display: inline-block;
    border-radius: 3px;
    border: 0;
}


/*firework*/
#imgs{
    position: relative; 
   width: 100%; /* for IE 6 */
   margin: 0 auto;

}
#imgs .image-bg-affiliate{
  position: absolute;
  height: 100%;
  max-width: inherit;
}
#imgs canvas{
  opacity: 0.6
  }
.content-msg {
    position: relative;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 30px;
    font-size: 14px;
    
}
.content-msg a {
    color: black;
}


.aflita_styl_sect h2{ font-family: 'Nunito';
    font-weight: 800;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
    color: #7dc242;
    font-size: 34px;
    margin: 0;
     }
 
.aflita_styl_sect h3{     font-size: 27px;
        font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    font-style: normal;
    color: #fff;
   margin: 0 auto 0px auto;
    max-width: 90%;
     }
.aflita_styl_sect h3 span{color: #7dc242;}
/*firework*/
.header-text{
    font-family: sans-serif; 
  -webkit-animation: blinker 0.4s infinite alternate;
  -moz-animation: blinker 0.4s infinite alternate;
  animation:blinker 0.4s infinite alternate;
  font-weight: 800;
  margin-left: 100px
  
  
}
@keyframes blinker {
0%{
    color:#fff;
}
100%{
    
    color:#9dec5a;
}
}
.promotionalbanner-images img{
    width: 33%;
    padding: 0 1%;
}
#google_translate_element .goog-te-combo{
  border-radius: 0;
    padding: 2px;
    margin: 8px 0 15px;
}

.short-input textarea{
  word-break: break-all;
}
.welcome-affiliate{
  background: #004890;
    color: #fff;
}
.welcome-affiliate .text-success{
color:#38ce5a !important
}

.modal-dialog.video-pop{
  width:100%;
  max-width: 900px
}
.modal-dialog.video-pop iframe{
  height:500px;
}
.form-control.invalid {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}
.tab {
  display: none;
}

.progressbar {
      counter-reset: step;
      display: inline-block;
      clear: both;
      width: 100%;
      position: relative;
      z-index: 1;
      text-align: center;
  }
  .progressbar li {
      list-style-type: none;
      width: 25%;
      display:inline-block;
      font-size: 12px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      color: #7d7d7d;
      font-weight: 800
  }
  .progressbar li:before {
      width: 30px;
      height: 30px;
      content: counter(step);
      counter-increment: step;
      line-height: 27px;
      border: 2px solid #7d7d7d;
      display: block;
      text-align: center;
      margin: 0 auto 10px auto;
      border-radius: 50%;
      background-color: white;
  }
  .progressbar li:after {
      width: 100%;
      height: 2px;
      content: '';
      position: absolute;
      background-color: #7d7d7d;
      top: 15px;
      left: -50%;
      z-index: -1;
  }
  .progressbar li:first-child:after {
      content: none;
  }
  .progressbar li:first-child,
  .progressbar li.active {
      color: #5aa01d;
  }
  .progressbar li:first-child:before,
  .progressbar li.active:before {
      background: #5aa01d;
      color: #fff;
      border-color: #5aa01d;
  }
  .progressbar li:first-child + li:after ,
  .progressbar li.active + li:after {
      background-color: #5aa01d;
  }
.side-bar-KYc {
    background: #f4f7fa;
    padding: 40px 20px;
    margin: 0px 18px;
    border:1px solid #e4e4e4;
}
.ref-input {
    border: none;
    width: 211px;
}
@media (max-width: 1200px){
.inner-content{
  padding:50px 15px; 
}
 
.side-navbar{
  width:300px;
  left:-300px;
}
.page.active {
   left:300px;
 }
.page {
  width: 100%;
 left:0px;
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
}
.side-navbar.shrink{
left:0px;
width: 300px;
}
.center-nav li{margin-right: 10px;}
}

@media (max-width: 992px){
 .reff-text {
    font-size: 18px;
}
}
@media only screen and (max-width: 767px){
  .center-h{ 
    position: static;
    transform: inherit;
    margin:auto; 

  }
  .login-screen .left-login,
.login-screen .right-login{
  display: block;
  width: 100%;
  padding: 0
}
  .login-screen .left-login:after{
    position: static;
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: 20px;
  }
  .login-screen {
    padding: 15px 10px;
    margin:20px 0; 
} 
 .affiliate-userlisting li{ width: 50%; }

}
@media only screen and (min-width: 576px){
.modal-dialog-lg.modal-dialog{
max-width: 900px
}

}
@media only screen and (max-width: 576px){
  .card-header.d-flex.justify-content-between{
justify-content: inherit important;
    -webkit-box-pack: inherit !important;
    -ms-flex-pack: justify !important;
    display: block !important;
}
  .card-header.d-flex.justify-content-between h5{
    display: block;
  }
  
}

/* Welcome pop css */
#welcomemessage .modal-dialog{
 max-width:750px;
  transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin:inherit;

}
#welcomemessage .modal-content {
    border: 4px solid rgba(255,255,255,.2);
    
}

.logged_succcefuly {
    width: 100%;
    display: inline-block;
    text-align: center;
  padding:0px 0;
  position:relative;
}

.logged_succcefuly #succfl_chck{ position:absolute; top:0; left:0;}
.logged_succcefuly  h2{ margin-bottom:0px; font-size:14px;}
.support_dev{ font-size:14px;}
.support_dev > p{ text-align: left; color:#1e1e1e;}
.over_view {
    width: 100%;
    display: inline-block;
    text-align: left;
    margin-bottom: 10px; color:#1e1e1e;
} 

#welcomemessage .modal-header{ background:#165092; border-top-left-radius: 0;
border-top-right-radius: 0;}

.logged_succcefuly h4{ margin-bottom:0;}
#welcomemessage .modal-header h4{ color:#fff;}
#welcomemessage .modal-header .logged_succcefuly .close {
    position: absolute;
    right: 0;
    top: 0; opacity: 1;

}
#welcomemessage .modal-header .logged_succcefuly .close span{ color:#fff;}


.justify-content-between.profile_right .navbar{     padding: 0.5rem 0; }
.justify-content-between.profile_right .navbar .dropdown-toggle::after {
   
    float: right;
    margin: 15px 0 0 0;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
   .justify-content-between.profile_right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: right;
 
}

}

@media only screen and (max-width : 767px) {
 .justify-content-between.profile_right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: right;
    width: 100%;
}

.justify-content-between.profile_right .navbar-nav{ width: 100% }
.justify-content-between.profile_right .custom .dropdown-menu { width: 100%; }
.navbar-brand.hamburger-menu {
    font-size: 25px;
    position: relative;
    z-index: 99999;
}
}

/*.kwatt_dev{ float: left; width: 50%; }
.weaccept { float: left;  width: 50%; text-align: right; }
*/
.kwatt_dev p{ font-size: 13px;
    margin: 10px 0 0 0;
    padding: 0; }
.kwatt_dev p span i.fas { color: #7dc242; margin: 0 5px 0 0; }

.weaccept h4 {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    vertical-align: middle;
    margin: 5px 6px 0;
}
.weaccept ul { display: inline-block; }
.weaccept ul li{ display: inline-block; vertical-align: top; }

.kewatmd label{ margin:5px 0;}
.kewatmd select{ background-color:#f4f7fa; }





/************************************/
/********* Calculator ***********/
.calculator .columns {
    float: left;
}
.calculator .container {
    overflow: inherit;
}
 .six.columns {
   /*     width: 50%;
    margin: auto;
    float: none;*/
    display: table;
     
     width: 50%;
    float: left;

    /*margin-left: 30px;*/
    padding:0 30px;
 }
#sum:before,
td#year_five:before,
td#year_four:before ,
td#year_three:before ,
td#year_two:before ,
td#year_one:before {
     content: "$"; 
}
.trajectory__explain {
  text-align: left;
  margin-top: 2em;
  font-size: .8em; }

.invest {
  padding: 70px 40px;
  margin: 40px 0; }

.invest.type-1,
.invest.type-2 {
  background-image: url(/en/images/h-header.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 3200px auto;
  background-color: #5FD5F5;
  color: white;
  padding: 70px 40px;
  margin: 40px 0;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.13), 0 2px 4px 0 rgba(0, 0, 0, 0.05); }
  .invest.type-1 .columns,
  .invest.type-2 .columns {
    position: relative;
    height: 100%; }
  .invest.type-1 .bonus-holder,
  .invest.type-2 .bonus-holder {
    height: 270px; }
  .invest.type-1 .bonus-circle,
  .invest.type-2 .bonus-circle {
    display: block;
    position: absolute;
    top: 50%;
    height: 150px;
    width: 150px;
    padding: 26px;
    box-sizing: border-box;
    background: linear-gradient(-10deg, #89dba8, #36d1dc);
    border-radius: 50%;
    text-align: center;
    border: 2px solid white;
    transform: translateY(-50%); }
    .invest.type-1 .bonus-circle h3,
    .invest.type-2 .bonus-circle h3 {
      transform: rotate(-10deg); }
  .invest.type-1 form,
  .invest.type-2 form {
    margin-bottom: 10px; }
  .invest.type-1 .btn,
  .invest.type-2 .btn {
    background-color: #89dba8;
    color: white;
    border-color: white;
    text-transform: none;
    position: relative;
    top: -1px; }
    .invest.type-1 .btn:hover,
    .invest.type-2 .btn:hover {
      background-color: #5FD5F5; }
    .invest.type-1 .btn--facebook,
    .invest.type-2 .btn--facebook {
      color: white;
      text-decoration: none; }
      .invest.type-1 .btn--facebook img,
      .invest.type-2 .btn--facebook img {
        margin-right: 5px;
        position: relative;
        top: 2px; }
  .invest.type-1 input[type=email],
  .invest.type-2 input[type=email] {
    width: 260px;
    border: 1px solid white;
    color: #89dba8; }
    .invest.type-1 input[type=email]:focus,
    .invest.type-2 input[type=email]:focus {
      border: 1px solid white;
      border-bottom-color: #89dba8; }

.invest__checkout {
  margin-top: 5em; }

.invest__checkout p {
  text-align: left; }

.invest__checkout h3 {
  margin-bottom: 2em; }

.invest__checkout .box {
  border-width: 2px;
  margin-top: -3.6em; }

.invest__sum th,
.invest__sum td {
  border-top: 1px solid #ccc;
  vertical-align: middle;
  padding-top: 15px;
}

.invest .icon {
  width: 40px;
  vertical-align: middle;
  margin-left: 1em; }

.invest__cta {
  margin-bottom: 2em; }

.invest__cta .btn {
  display: block;
  font-size: 1.6em;
  border-width: 0;
  border-radius: 3px;
  background: #137ADC;
  color: #fff;
  text-align: center; }

.invest__cta .btn:hover {
  background: #137ADC;
  box-shadow: 0 5px 0 0 #116fc9, 0 15px 35px rgba(0, 0, 0, 0.13), 0 0 5px rgba(0, 0, 0, 0.05);
  border-radius: 3px;
  perspective: 600px;
  transform: rotateX(10deg) scale(1.1); }

/* Slider Style */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 10px; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 0; }

input[type=range]::-webkit-slider-thumb {
  border: 0;
  height: 40px;
  width: 25px;
  border-radius: 15px;
  background: #56CCF2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2F80ED, #56CCF2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px; }

input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0, 0, 0, 0.1); }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 20px;
  cursor: pointer;
  box-shadow: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 0; }

input[type=range]::-moz-range-thumb {
  border: 0;
  height: 40px;
  width: 25px;
  border-radius: 15px;
  background: #56CCF2;
  /* fallback for old browsers */
  background: linear-gradient(to top, #2F80ED, #56CCF2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px; }

.invest__headline {
  text-align: center;  font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;}

.invest__discount {
  margin-bottom: 2em; }

#investLabel:before{
  content: '$';
}
.box {
  background-color: white;
  box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.13), 0 0 5px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #e6eff2;
  padding: 50px; }

.box h3 {
  text-transform: uppercase;
  margin-bottom: .5em; }

.box p {
  margin-right: -.5em; }

.box__round--current input {
  flex: 1;
  width: 100px; }

.price {
  text-align: center; }

.price__amount {
  display: block;
  font-size: 16px;
  font-weight: bold; }

.box .btn--disabled {
  display: block;
  text-align: center; }


.text--invert {
  color: #fff; }

.text--columns {
  column-count: 5;
  column-gap: 40px; }

.text--center {
  text-align: center; }

.text--columns p {
  margin-bottom: 0; }





.card h2 + p {
  font-size: 1em; }

.card--image {
  min-height: 500px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }

.image--card {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.13), 0 0 5px rgba(0, 0, 0, 0.05); }

.row--reverse {
  display: flex;
  flex-direction: row-reverse; }

.columns--edge {
  box-sizing: border-box;
  padding-right: 30px;
  border-right: 1px solid #ccc; }

.section--background {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 3200px auto; }

.icon {
  width: 90px; }

h3 .icon {
  margin-left: -0.1em;
  display: block;
  fill: #268CDE; }

.slick-slide {
  outline: none; }

.invest__input {
  width: 100%; }

.invest__table {
  width: 100%; 
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.invest__table th{
    text-align:left;
}
.invest__table th,
.invest__table td {
  padding-bottom: 5px !important;
font-weight:bold;}

.invest__table td {
  text-align: right;
  font-size: 1em;
      color: #7CC243;
   }
 
.countdown-info {
  font-weight: bold;
  font-size: 24px; }

.countdown {
  border-radius: 3px;
  background: white;
  margin-top: -180px;
  margin-bottom: 180px;
  text-align: center;
  padding: 10px 0; }
  .countdown h2 {
    font-size: 24px; }

.countdown > div {
  display: inline-block; }

.countdown__figure {
  display: inline-block;
  margin-right: 50px;
  font-size: 3.5em;
  font-weight: bold; }

.countdown small {
  display: inline-block;
  position: absolute;
  padding-top: 5px;
  font-size: 16px;
  transform-origin: 0 0;
  transform: rotate(-90deg);
  margin-top: 75px;
  margin-left: -50px;
  text-transform: uppercase;
  letter-spacing: 1px; }


.affiliate_wrap .invest__discount {
 /*border: 1px solid #E6EFF2;*/
  padding: 1em;
  text-align: left;
  /*font-size:1.125rem;*/
  font-size:1rem;
    font-weight:700;
    text-transform: uppercase
    margin-bottom:0;}

.affiliate_wrap .chart {
  border-bottom: 1px solid #ccc;
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background: url(/en/images/chart-grid.svg);
  background-size: 200px 50px;
  margin-top: 10px; }

.chart__bar {
  width: 10%;
  height: 10px;
  cursor: pointer; }

.chart__reinvest,
.chart__cashout {
  display: flex;
  justify-content: center;
  align-items: center; }

.chart__reinvest {
  height: 25%;
  background: #293e85;
  display:none;
}

.chart__cashout {
  height: 100%;
  background: #7dc242; }

.chart__label {
  position: absolute;
  height: 20px;
  margin-top: -25px;
  width: 10%;
  margin-left: -2.5%;
  text-align: center; }

.chart__axis {
  position: absolute;
  width: 10%;
  margin-left: -2.5%;
  text-align: center; }

.chart__hint {
  margin: 10px;
  padding: 5px 10px;
  width: 170px;
  border: 1px solid #E6EFF2;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute; }

.chart__legend {
  margin-top: 30px;
  background: #E6EFF2;
  text-align: center; }

.chart__explain {
  display: inline-block;
  line-height: .9;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 10px;
  padding-right: 20px; }

.chart__explain--cashout {
  border-left: 30px solid #7dc242; }

.chart__explain--reinvest {
  border-left: 30px solid #293e85;
  display: none; }

.chart__cashout .chart__tooltip,
.chart__reinvest .chart__tooltip {
  text-align: center;
  text-transform: uppercase;
  font-size: 10px;
  background: rgba(255, 255, 255, 0.8);
  visibility: hidden; }

.chart__cashout:hover .chart__tooltip,
.chart__reinvest:hover .chart__tooltip {
  visibility: visible; }

[lang=ar] .column,
[lang=ar] .columns {
  float: right; }
  /*****************************/
  form.form-copy.theme-form input {
    border-bottom: 1px solid #ccc !important;
    border: 0;
    background-color: #fff;
}


.chart__bar .chart__tooltip{ display: none !important;  }

.trajectory.h-trajectory.section--background { padding-bottom: 1.25rem; }
.affiliate_wrap .trajectory.h-trajectory.section--background  .card{     padding: 0; }
.Valuation_calucalater{ width: 100%; display: inline-block; margin-bottom: 30px;  padding:0 0.9rem;}
.Valuation_calucalater p{  margin-bottom: 0px;  }

.caluculater_afilater{ width: 100%; display: inline-block;   padding: 15px 0; }
.caluculater_afilater p{ text-align: center; margin: 0; font-size: 25px;}

/*.rol_top{ margin:20px 0 0 0; }*/
  .cardcustombordr {
    background: #F4F7FA;
    /*border: 1px solid #e8f4dd;*/
      font-size: 16px;
    display: inline-block;
  
    text-align: center;
    width: 100%;
    /*min-height: 235px;*/
}
.cardcustombordr1{  background:none; }
.custom-refer-form{   /*min-height: 235px;*/ }

.reflr_het { min-height:424px;}

.user_db{ width: 100%; display: inline-block; }
.user_db li {
    width:100%;
    display: inline-block;
    padding: 0px 0;
    border-bottom: 0;
    background: #f6f6f6;
    border-radius: 2px;
    text-transform: capitalize;
    border-radius: 5px;
    margin: 0 0 5px 0;
    cursor: pointer;
}
.user_db li:hover{ background: #ededed; }

.user_db li i.fas {
       background: #ededed;
    padding: 0 20px;
    margin: 0 3px 0 0;
    float: left;
    border-right: 1px solid #e4e2e2;
    line-height: 51px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.user_db li p {
    float: left;
    font-size: 16px;
    margin: 0;
    padding: 13px;
    color: #7dc242;
}
.user_db li p span{   }
.calculations_c{
    text-align: center;
    padding: 15px 15px;
    /*border:2px dashed #7dc242;*/
    display: block;
    background:#fff;
  
}
.user_db li .tim_age{ float: right; }
.user_db li .tim_age p{ font-size: 13px;  }

.count_donnew{padding: 17px 0;     background: #f7f7f7;}

.count_donnew h5{ margin:0 0 20px; }
.count_donnew .timer-inner{
	background: #e3000e;
	font-size: 28px;
	 font-weight: 700;
	display: inline-block;
	color:#fff;
	margin: 0 3px;
	padding:10px 4px 7px;
	border-radius: 5px;
	line-height: 18px;
}
.count_donnew .timer-inner span{
	    display: block;
    font-size: 12px;
    margin-top: 4px;
    text-transform: uppercase;
    font-family: arial;
    font-weight: 100;
}


.affiliate_wrap .card-header {
    padding: 1.5rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent;
    border-bottom: 0;
    background: #ECEFF1;
}

.affiliate_wrap .card { box-shadow: none; }
.affiliate_wrap .custom-refer-form { padding: 20px 0; }

ul.bons_stcur{ width: 100%; }
ul.bons_stcur li{ width: 100%;  }
ul.bons_stcur li span{ float:left; margin: 0; padding:10px; }
ul.bons_stcur li p{ float:left; margin: 0; padding: 0;}
ul.bons_stcur li span.ixcl {
    float: left;
    margin: 0 10px;
    border-right: 1px solid #e4e2e2;
    padding: 0;
    height: 51px;
    text-align: center;
    padding: 15px 15px;
}

ul.bons_stcur li span.dayre_s{ }
ul.bons_stcur li span.bns_d { float: right; text-align: center; padding:5px 0; }
ul.bons_stcur li span.bns_d p{     /* float: right; */
    font-size: 12px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
}

.user_nam p{ padding: 5px 10px !important;  }
.user_nam samp.dbn {
    color: #b9b9b9 !important;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
}

.min_hehtdv{}

.affiliate_wrap .reff-text{ font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase; 
}
.affiliate_wrap .chart__label{ font-size: 12px; }


.step_section{ width: 100%; display:inline-block; list-style:none; padding: 0 !important; margin: 0; }
.step_section li {
    list-style: none;
    width: 100%;
    display: inline-block;
    margin: 0; line-height: 20px;
}
.step_section li .stp_bx{ float: left; width: 70px; list-style:none; font-weight: 700; }
.step_section li > div{ float: left; width: 80%; }

.payment-form {

}

.kwat_ern_bx { text-align: center; }
/*.kwat_ern_bx a >h3 {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}*/
span.matching_bonus_link {
    color: #fff;
    font-size: 14px;
    /*padding: 8px 0 4px 0;*/
    display: inline-block;
}
span.matching_bonus_link p {
    color: #222;
    font-size: 12px;
    display: inline;
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    padding: 10px 10px;
    border-radius: 3px;     margin-left: 10px;
    position: relative;
}

.mb-5.col-lg-12.kwat_ern_bx.dash-ref-user-link
{
  background-color: #fff5c4;
  background-clip: border-box;
  border-radius: 1rem;
  flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    position: relative;
}
 
.mb-5.col-lg-12.kwat_ern_bx.dash-ref-user-link.copyafilate_pge {
    background-color: #004991;
    background-clip: border-box;
    border-radius: 50px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    position: relative;
    padding: 5px 10px;
        margin: 2rem 0 !important;
    /*box-shadow: 0px 0px 3px #000;*/
}
.mb-5.col-lg-12.kwat_ern_bx.dash-ref-user-link.copyafilate_pge p{ display: inline-block;
 color: #222;
    font-size: 12px;
   
    font-weight: bold;
    text-decoration: none;
    background: #fff;
    padding: 10px 10px;
    border-radius: 3px;     margin-left: 10px;
    position: relative;
    margin-bottom: 0;
     }


.mb-5.col-lg-12.kwat_ern_bx.dash-ref-user-link.copyafilate_pge .input-group-btn {
    color: #fff;
    background-color: #7dc242;
    border-color: #7dc242;
    border-radius: 2px;
     padding: 9px 10px 7px 10px;
    font-size: 11px;
    margin: 0 0 0 6px;
    cursor: pointer;
}
 /*
.payment-form .input-group label{ display: block; width: 100%; }
.payment-form .form-group.center{ text-align: center; width: 100%; display: inline-block; }
.payment-form  .form-group.center .input-group {
    float: none;
    display: inline-block;     margin-top: 20px;
}*/

/*************responsivecss*********/


img{ max-width: 100%; }

@media only screen and (min-width: 1000px) and (max-width: 1140px){
  .affiliate-userlisting li{ width: 25%; }
}


@media only screen and (max-width : 1200px) {}

@media (min-width: 1200px) and (max-width: 1365px) {
ul.bons_stcur li span.ixcl{ margin: 0; }
ul.bons_stcur li span{ font-size: 12px; }
.affiliate-userlisting li { padding: 5px 7px;    }
.affiliate-userlisting li span, .affiliate-userlisting li p {   font-size: 13px;    }


}
@media only screen and (max-width : 980px) {
.cardcustombordr, .custom-refer-form{ min-height: inherit; }
 .reflr_het {
    min-height: inherit;
    padding-bottom: 20px;
}
.custom-refer-form{ margin-bottom: 0.5rem ; }
.ref-input {
    border: none;
    width: 50%;
}
span.matching_bonus_link p {
    color: #222;
    font-size: 12px;
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

  }

@media only screen and (max-width : 767px) {
  .six.columns{ width: 100%; }

.mb-5.col-lg-12.kwat_ern_bx.dash-ref-user-link.copyafilate_pge {border-radius: 5px;}
 .mb-5.col-lg-12.kwat_ern_bx.dash-ref-user-link.copyafilate_pge p {
    display: inline-block;
 
    margin-left: 0;
    position: relative;
    width: 100%;
    margin-top: 15px;
}
.ref-input {
    border: none;
    width: 100%;
}
.mb-5.col-lg-12.kwat_ern_bx.dash-ref-user-link.copyafilate_pge .input-group-btn {
 
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

}

@media only screen and (max-width :360px) {
.position-input {
    top: 64px;
    }
 .affiliate-userlisting li{ width: 100%; }
    }